{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %} {% trans "Change Password" %} {% endblock head_title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Change Password" %}</h3>
            <p>{% blocktrans %}
                Update your password for better security. Make sure it's something unique and easy to remember.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="password-change" method="POST" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <div class="text-center mt-3">
                    <button class="btn btn-primary btn-lg rounded-pill" type="submit">{% trans "Change Password" %}</button>
                </div>
            </form>
            <div class="mt-3 text-center">
                <a href="{% url 'account_reset_password' %}" class="btn btn-outline-primary rounded-pill">{% trans "Forgot Password?" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
