{% extends "base.html" %} 

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <div class="row">
      <!-- Profile Info Section -->
      <div class="col-md-4">
          <div class="card">
              <div class="card-body text-center">
                  <h3>{{ user.username }}'s Profile</h3>
                  {% if profile.profile_picture %}
                  <img src="{{ profile.profile_picture.url }}" class="img-fluid rounded-circle mb-3" alt="Profile Picture" style="width: 150px; height: 150px;">
                  {% else %}
                  <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle mb-3" alt="Default Profile Picture" style="width: 150px; height: 150px;">
                  {% endif %}
                  <p><strong>Email:</strong> {{ user.email }}</p>
                  <p><strong>Bio:</strong> {{ profile.bio }}</p>
                  <p><small>Last updated on {{ profile.updated_on }}</small></p>
              </div>
          </div>
      </div>

      <!-- Profile Edit Form Section -->
      <div class="col-md-8">
        <h4>Edit Profile</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- User Info Update Form -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                {{ u_form.username | crispy }}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                {{ u_form.email | crispy }}
            </div>
            
            <!-- Profile Info Update Form -->
            <div class="mb-3">
                <label for="profile_picture" class="form-label">Profile Picture</label>
                {{ p_form.profile_picture | crispy }}
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                {{ p_form.bio | crispy }}
            </div>

            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>

 <!-- Recipes List Section -->
 <div class="row mt-5">
  <div class="col-md-12">
      <h4>Your Recipes</h4>
      <ul class="list-group">
          {% for recipe in profile.user.recipes.all %}
          <li class="list-group-item">
              <a href="{% url 'recipe_detail' recipe.slug %}">
                  {{ recipe.title }}
              </a>
          </li>
          {% empty %}
          <li class="list-group-item">You haven't created any recipes yet.</li>
          {% endfor %}
      </ul>
  </div>
</div>
</div>

{% endblock %}